.mainBanner {
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    &:before {
        display: block;
        content: '';
        float: left;
        padding-top: 50%;
    }
}
