.navbar {
    height: 64px;
    .navbarToolbar {
        flex-wrap: wrap;
        background: #d1d1d1;
    }
    .navbarTitle {
        flex-grow: 1;
        color: #000;
        &:hover {
            text-decoration: none;
        }
    }
    .navbarLink {
        margin: 0 15px;
        color:  #000;
    }
    .navbarBasketBtn {
        margin: 0 15px;
    }
    .navbarBasketIcon {
        display: inline-block;
        margin-left: 10px;
    }
}
